{% extends 'shop/basic.html' %}

{% block title %}Handz Checkout{% endblock %}

{% block body %}
	<div class="container">
		<div class="col my-4">
			<h2>Step1 - Handz Express Checkout - Review Your Cart Items</h2>
			<div class="mt-4">
				<ul class="list-group col-md-6"  id='items'>
				  
				</ul>
			</div>
		</div>
		<div class="col my-4">
			<h2>Step2 - Enter Address & Other Details:</h2>
			<form method="post" action="/shop/checkout/">{% csrf_token %}
			  <input type="hidden" name="itemsJson" id="itemsJson">
			  <div class="form-row my-4">
				  	<div class="form-group col-md-6">
				      <label for="inputname">Name</label>
				      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputEmail4">Email</label>
				      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your E-mail">
				    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputAddress">Address</label>
			    <input type="text" class="form-control" id="address" name="address" placeholder="Apartment, House No., or floor">
			  </div>
			  <div class="form-group">
			    <label for="inputlandmark">Landmark</label>
			    <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Any Famous Place Around Your Address">
			  </div>
			  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputCity">City</label>
				      <input type="text" class="form-control" id="city" name="city" placeholder="Your City">
				    </div>
				    <div class="form-group col-md-4">
				      <label for="inputState">State</label>
				      <select id="state" name="state" class="form-control">
				        <option selected>Choose...</option>
				        <option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Chandigarh">Chandigarh</option>
						<option value="Chhattisgarh">Chhattisgarh</option>
						<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
						<option value="Daman and Diu">Daman and Diu</option>
						<option value="Delhi">Delhi</option>
						<option value="Lakshadweep">Lakshadweep</option>
						<option value="Puducherry">Puducherry</option>
						<option value="Goa">Goa</option>
						<option value="Gujarat">Gujarat</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal Pradesh">Himachal Pradesh</option>
						<option value="Jammu and Kashmir">Jammu and Kashmir</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Maharashtra">Maharashtra</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttar Pradesh">Uttar Pradesh</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="West Bengal">West Bengal</option>
				        <option>...</option>
				      </select>
				    </div>
				    <div class="form-group col-md-2">
				      <label for="inputpostalcode">Postal Code</label>
				      <input type="text" class="form-control" id="postal_code" name="postal_code">
				    </div>
			  </div>
			  <div class="form-group">
				      <label for="inputphone">Phone Number</label>
				      <input type="tel" class="form-control" id="phone" name="phone">
			  </div>
			  <button type="submit" class="btn btn-primary">Place Order</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %} 
	<script>
		if(localStorage.getItem('cart') == null)
        {
            var cart={};
        }
        else
        {
            cart=JSON.parse(localStorage.getItem('cart'));
        }
        console.log(cart);
        var sum = 0;
        if ($.isEmptyObject(cart))
        {
        	mystr = `<p>Your cart is empty, please add some item before checkout!</p>`
				$('#items').append(mystr);
        }
        else
        {
        	for(item in  cart)
	        {
	        	let name = cart[item][1];
	        	let qty = cart[item][0];
	        	sum = sum + qty;
	        	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center my-1">
					    ${name}
					    <span class="badge badge-primary badge-pill">${qty}</span>
					  </li>`
				$('#items').append(mystr);
	        }
        }
        document.getElementById('cart').innerHTML = sum;
		$('#itemsJson').val(JSON.stringify(cart));
		{% if thank %}
			alert("Thanks for ordering with us. Your order id is {{id}}. Use it to track your order.");
			document.location="/shop";
		{% endif %}
	</script>
{% endblock %}
